.category {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 3vh 0 0 1vh;
}

.category:hover {
    scale:1.05;
    margin-left: 5px;
}

.category-text {
    margin-left: 10px;
}

img {
    width: 20px;
    height: 20px;
}