.mail-list {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height:100%;
}

.mail-list > * {
	text-decoration: none;
	color: black;
	min-height: 10vh;
	border-bottom: 2px solid rgb(85, 84, 84);
}

.mail-list > *:hover {
	background-color: rgb(209, 203, 203);
}

.mail-list > * > * {
	display:flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding-left: 5px;
	padding-top: 5px;
	font-size: 15px;
}

.mail-list {
	border-left: 2px solid rgb(85, 84, 84);
	border-right: 2px solid rgb(85, 84, 84);
}