* {
	margin: 0;
	padding: 0;
}


html,
body {
	margin: auto;
	padding: auto;
	min-height: 100%;
	height: 100%;
	background-attachment: fixed;
  	background-color: rgb(255, 255, 255);
	visibility: visible;
	opacity: 1;
}

.App {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: calc(100vh);
	width:100%;
}

.main-interface {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	height: 100%;
}

.main-interface > :nth-child(1) {
	flex: 3;
}

.main-interface > :nth-child(2) {
	flex: 3;
}

.main-interface > :nth-child(3) {
	flex: 6;
}

.main-interface-left {
	display: flex;
	flex-direction: column;
}

.main-interface-left > :nth-child(1) {
	flex: 1;
}

.main-interface-left > :nth-child(2) {
	flex: 2;
}

