.main-profile {
    display:flex;
    flex-direction: row;
    margin-top: 5%;
}

.container-user-profile {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-self: center;
    display: flex;
    flex-direction: column;
    height:100%;
    flex:1;
}

.container-user-profile {
    margin-left: 50px;
}

.user-profile > * {
    margin-bottom: 28px;
}

.user-profile {
    display: flex;
    flex-direction: column;
    color: rgb(85, 84, 84);
    font-size: 15px;
}

.title-profile {
    display: flex;
    font-size: 20px;
    margin-bottom: 40px;
}

.container-change-profile {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height:100%;
    flex:2;
}

.title-change-profile {
    display: flex;
    width:50%;
    justify-content: center;
    font-size: 20px;
}

.change-user-profile {
    display: flex;
    flex-direction:row;
    justify-content: left;
    height: 100%;
    width: 100%;
    margin-top: 30px;
}

.img-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    flex: 2;
    border-radius: 50%;
}

.img-profile > img {
    height: 25vh;
    width: 25vh;
    overflow: hidden;
    border-radius: 50%;
}

.form-change-profile {
    display:flex;
    flex-direction: column;
    align-items: left;
    flex:2;
}

.form-change-profile > * {
    margin-bottom: 20px;
}

.form-change-profile > div > i {
    font-size: 13px;
    color: rgb(85, 84, 84);
}

.name-change-profile {
    display: flex;
    flex-direction: column;
}

.name-change-profile > input{
    width: 50%;
    height: 30px;
    border-radius: 10px;
}

.surname-change-profile {
    display: flex;
    flex-direction: column;
}

.surname-change-profile > input{
    width: 50%;
    height: 30px;
    border-radius: 10px;
}

.nickname-change-profile {
    display: flex;
    flex-direction: column;
}

.nickname-change-profile > input{
    width: 50%;
    height: 30px;
    border-radius: 10px;
}

.birthday-change-profile {
    display: flex;
    flex-direction: column;
}

.birthday-change-profile > input{
    width: 50%;
    height: 30px;
    border-radius: 10px;
}

.sex-change-profile {
    display: flex;
    flex-direction: column;
}

.sex-change-profile > div {
    display: flex;
    flex-direction: row;
}

.sex:nth-child(2) {
    margin-left: 20px;
}