.about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height:100%;
    width: 100%;
}

.about-theme {
    width: 50%;
    border-left: 7px solid rgb(32, 147, 119);
    padding: 15px;
    font-size: 35px; 
    text-align:justify;
}

.about-student {
    width: 50%;
    margin-top: 1.5%;
    font-size: 30px; 
    text-align: right;
}