.header-list-container {
    display:flex;
    flex-direction: row;
    border-bottom: 2px solid rgb(85, 84, 84);
    min-height: 3em;
}
.header-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 17px;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex:1;
    
}

.header-element {
    display: flex;
    align-items: center;
    padding:0 3vh 0 1vh;
    list-style-type: none;
    min-height: 100%;
    min-width: 5%;

}

.header-element > * {
    text-decoration: none;
    color: black;
}

.header-element:hover {
    scale: 1.05;
}

.header-unauthorize-button-container {
    flex: 1;
    display: flex;
    justify-content: end;
}
